.app {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    color: #fff;
}

:root {
    --glassBlue: #cae7fe;
    --glassPurple: #dcdcfa;
    --glassYellow: #fffec6;
    --glassGreen: #ccffc6;
    --glassRed: #ffc6c6;
    --glassPink: #f6c6ff;
    --primary: #6e62e4;
    --primaryHover: #5a4cd7;
    --gray: #1e1e1e;
    --shadow: #aeb5ff;
}
