.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        width: 100%;
        padding: 15px;
        align-items: center;
        justify-content: space-between;

        .search-bar {
            position: relative;
            display: flex;
            align-items: center;

            input {
                border: 2px solid transparent;
                border-radius: 25px;
                padding: 15px 10px;
                width: 25vw;
                font-weight: 600;

                &:focus {
                    outline: none;
                    border: 2px solid var(--primary);
                }
            }

            i {
                position: absolute;
                right: 6px;
                cursor: pointer;
                background-color: var(--primary);
                width: 35px;
                padding: 10px 0;
                text-align: center;
                border-radius: 50%;
            }
        }

        select {
            border: none;
            background-color: var(--primary);
            padding: 10px;
            border-radius: 25px;
            color: #fff;
            font-weight: 500;
            cursor: pointer;
            font-size: 15px;

            &:focus {
                outline: none;
            }
        }

        option {
            background-color: #fff;
            color: black;
            font-weight: 500;
            cursor: pointer;
            padding: 10px;
        }
    }

    .empty-state {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .dashboard-container {
        display: grid;
        gap: 1rem;
        row-gap: 3rem;
        grid-template-columns: auto auto auto auto;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;
        margin-top: 2rem;

        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: var(--glassPurple);
            color: black;
            width: 20vw;
            border-radius: 15px;
            padding: 10px;
            gap: 0.5rem;
            cursor: pointer;

            .header {
                padding: 2px;
                margin-bottom: 1rem;

                h5 {
                    background-color: var(--glassYellow);
                    color: orangered;
                    border-radius: 25px;
                    padding: 7px 15px;
                    font-size: 12px;
                }
            }

            h3 {
                font-size: 17px;
                font-weight: 600;
            }

            p {
                font-size: 13px;
                color: var(--gray);
            }

            .buttons {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                width: 100%;
                gap: 1rem;

                i {
                    cursor: pointer;
                    font-size: 15px;
                    padding: 5px;
                    border-radius: 50%;

                    &:first-child {
                        background-color: var(--glassGreen);
                        color: green;
                    }

                    &:last-child {
                        background-color: var(--glassRed);
                        color: red;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .dashboard {
        // height: auto;
        width: 100%;

        .header {
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h1{
                display: none;
            }

            .search-bar {
                width: 85% !important;

                input {
                    width: 100%;
                }
            }

            select {
                width: 50%;
                padding: 15px;
            }
        }

        .dashboard-container {
            width: 100%;
            gap: 1rem;
            grid-template-columns: auto;
            justify-items: center;

            .card {
                width: 95%;

                .header {
                    flex-direction: row;

                    h5 {
                        padding: 10px;
                    }
                }

                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 15px;
                }

                .buttons {
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
